@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300,600&subset=latin,latin-ext);

@font-face {
    font-family: 'webfont';
    src: url('../fonts/webfont.eot');
    src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont.woff2') format('woff2'),
         url('../fonts/webfont.woff') format('woff'),
         url('../fonts/webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
